<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.ssm.mapper.CardrechargerecordMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.model.Cardrechargerecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="memberId" property="memberid" jdbcType="VARCHAR" />
    <result column="memberCardId" property="membercardid" jdbcType="VARCHAR" />
    <result column="rechargeMoney" property="rechargemoney" jdbcType="DECIMAL" />
    <result column="changetime" property="changetime" jdbcType="TIMESTAMP" />
    <result column="memberName" property="membername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, memberId, memberCardId, rechargeMoney, changetime, memberName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.itcast.ssm.model.CardrechargerecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cardrechargerecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cardrechargerecord
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cardrechargerecord
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.itcast.ssm.model.CardrechargerecordExample" >
    delete from cardrechargerecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.model.Cardrechargerecord" >
    insert into cardrechargerecord (id, memberId, memberCardId, 
      rechargeMoney, changetime, memberName
      )
    values (#{id,jdbcType=BIGINT}, #{memberid,jdbcType=VARCHAR}, #{membercardid,jdbcType=VARCHAR}, 
      #{rechargemoney,jdbcType=DECIMAL}, #{changetime,jdbcType=TIMESTAMP}, #{membername,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.model.Cardrechargerecord" >
    insert into cardrechargerecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberid != null" >
        memberId,
      </if>
      <if test="membercardid != null" >
        memberCardId,
      </if>
      <if test="rechargemoney != null" >
        rechargeMoney,
      </if>
      <if test="changetime != null" >
        changetime,
      </if>
      <if test="membername != null" >
        memberName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="membercardid != null" >
        #{membercardid,jdbcType=VARCHAR},
      </if>
      <if test="rechargemoney != null" >
        #{rechargemoney,jdbcType=DECIMAL},
      </if>
      <if test="changetime != null" >
        #{changetime,jdbcType=TIMESTAMP},
      </if>
      <if test="membername != null" >
        #{membername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.itcast.ssm.model.CardrechargerecordExample" resultType="java.lang.Integer" >
    select count(*) from cardrechargerecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cardrechargerecord
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.memberid != null" >
        memberId = #{record.memberid,jdbcType=VARCHAR},
      </if>
      <if test="record.membercardid != null" >
        memberCardId = #{record.membercardid,jdbcType=VARCHAR},
      </if>
      <if test="record.rechargemoney != null" >
        rechargeMoney = #{record.rechargemoney,jdbcType=DECIMAL},
      </if>
      <if test="record.changetime != null" >
        changetime = #{record.changetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.membername != null" >
        memberName = #{record.membername,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cardrechargerecord
    set id = #{record.id,jdbcType=BIGINT},
      memberId = #{record.memberid,jdbcType=VARCHAR},
      memberCardId = #{record.membercardid,jdbcType=VARCHAR},
      rechargeMoney = #{record.rechargemoney,jdbcType=DECIMAL},
      changetime = #{record.changetime,jdbcType=TIMESTAMP},
      memberName = #{record.membername,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.ssm.model.Cardrechargerecord" >
    update cardrechargerecord
    <set >
      <if test="memberid != null" >
        memberId = #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="membercardid != null" >
        memberCardId = #{membercardid,jdbcType=VARCHAR},
      </if>
      <if test="rechargemoney != null" >
        rechargeMoney = #{rechargemoney,jdbcType=DECIMAL},
      </if>
      <if test="changetime != null" >
        changetime = #{changetime,jdbcType=TIMESTAMP},
      </if>
      <if test="membername != null" >
        memberName = #{membername,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.ssm.model.Cardrechargerecord" >
    update cardrechargerecord
    set memberId = #{memberid,jdbcType=VARCHAR},
      memberCardId = #{membercardid,jdbcType=VARCHAR},
      rechargeMoney = #{rechargemoney,jdbcType=DECIMAL},
      changetime = #{changetime,jdbcType=TIMESTAMP},
      memberName = #{membername,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="cn.itcast.ssm.model.CardrechargerecordExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cardrechargerecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>